body{
    margin: 0;
}
a{
    font-family: 'Teko', sans-serif;
    font-size: 18px;
}
.hero-section{
    background-image:url(../img/maromba1.png );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    width: 1220px;
    height: 680px;
    margin: 0 auto;
    filter: drop-shadow(20px 20px 50px rgb(27, 26, 26));
    
   

}

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 30px 0 0 52PX;
    
   

}

.menu a{

    font-family: 'Teko', serif;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 60px;
    

}


